<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
    <testsuites>
        <testsuite name="media-embed">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

	<source>
		<include>
			<directory suffix=".php">src/</directory>
		</include>
		<exclude>
			<directory suffix=".php">src/Docs/</directory>
		</exclude>
	</source>

</phpunit>
